
/vendor/
node_modules/
npm-debug.log
yarn-error.log


composer.lock
bootstrap/compiled.php
bootstrap/cache/*
bootstrap/cache
bootstrap/cache/config.php
app/storage/

public/storage
public/hot

public_html/storage
public_html/hot
storage/logs
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/debugbar/
storage/media-library/*
storage/*.key
public/uploads/business_documents/
public/uploads/employee_contracts/
public/uploads/insuranceContracts/
public/uploads/officalDocuments/
public/uploads/contracts/*
public/uploads/contracts/*
public/uploads/lead_files/
public/uploads/*
public/uploads/*/*
public/uploads/tickets_attachments/
bootstrap/cache/*
bootstrap/cache/
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

